@charset "utf-8";

a {
    display: inline-block;
    border: solid cornflowerblue 2px;
    border-radius: 7px;
    padding: 10px 12px 7px 12px;
}

a:hover {
    border: solid crimson 2px;
}

a:active {
    position: relative;
    top: 1px;
    left: 1px;
}