* {
    margin: 0;
}

label {
    line-height: 0;
}
html {
    height: 100%;
    min-height: 100%;
}

body {
    height: 100%;
    /* fri licens för bakgrundsbilden, bantad från 1,5MB till ~50kb */
    background-image: url('../images/background.jpg');
    background-repeat: repeat;
    overflow: hidden;
}

#desktop {
    height: calc(100% - 90px);
}

#header {
    padding: 20px;
    font-size: 60px;
    font-family: Tahoma, Geneva, sans-serif;
    color: rgba(0,0,0, 0.70);
    text-shadow: 4px 3px rgba(175, 50, 50, 0.4);
}

#taskbar {
    display: block;
    position: relative;
    height: 70px;
    background-color: rgba(175, 50, 50, 0.5);
    border-top: 2px solid rgba(200, 50, 50, 0.5);
    border-bottom: 2px solid rgba(200, 50, 50, 0.5);
    z-index: 10000;
}

/*
 *=================================
 * För Javascriptgenererad html.
 *=================================
 */
.appWindow {
    display: inline-block;
    position: absolute;
    box-shadow: 1px 1px 25px 4px black;
    line-height: 1;
}

.appTitleBar {

    display: inline-block;
    border-color: #99ADC3;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    width: 100%;
    background-color: rgba(31, 58, 88, 0.95);
    color: #E7CDC0;
    font-weight: bold;
    height: 20px;
}

.appMenuBar {
    width: 100%;
    height: 20px;
    background-color: #99ADC3;
    border-top: 2px solid rgba(31, 58, 88, 0.95);
    border-left: 2px solid #99ADC3;
    border-right: 2px solid #99ADC3;
    border-bottom: 2px solid rgba(31, 58, 88, 0.95);
    overflow: hidden;
    font-size: 16px;
}

.appContent, .appWindowContent {
    width: 100%;
    /*height: calc(100% - 48px);*/
    background-color: rgba(207, 165, 143, 0.85);
    border-color: rgba(200, 50, 50, 0.6);
    border-style: solid;
    border-width: 0 2px 0 2px;
    text-align: center;
    overflow-y: auto;
}

.appWindowContent {
    overflow: hidden;
    background-color: black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}

.appStatusBar {
    width: 100%;
    height: 20px;
    background-color: #99ADC3;
    border: 2px solid rgba(31, 58, 88, 0.95);
    overflow: hidden;
    font-size: 14px;
}

.appTitleBar .appRemoveButtonAnchor {
    position: absolute;
    right: -1px;
    top: 3px;
}

.appTitleBarLabel {
    display: inline-block;
    text-indent: 5px;
    vertical-align: 4px;
}

.appTitleBarIcon {
    height: 90%;
    padding-top: 1px;
}

.appRemoveButton {
    background-color: #99ADC3;
    border: 1px solid #98ADC3;
}

.appStatusBarLabel {
    display: inline-block;
    text-indent: 5px;
}

.appStatusBarResizeIcon {
    height: 20px;
    width: 20px;
    float: right;
}

.image {
    width: 100%;
    height: auto;
}

.icon {
    height: 90%;
    padding: 3px 6px 0 6px;
}

.thumbImageAnchor {
    display: inline-block;
    text-align: center;
    background-color: #7B4B47;
    margin: 4px;
    border-radius: 3px;
    box-shadow: 1px 1px 25px 4px rgba(255, 255, 255, 0.6);
    vertical-align: middle;
}

.thumbImage {
    display: inline-block;
    background-color: white;
    box-shadow: 1px 1px 25px 4px rgba(255, 255, 255, 0.6);
    border-radius: 2px;
}

.rssItem {
    text-align: left;
    margin: 14px;
    border: 3px solid #7B4B47;
    background-color: rgba(255, 255, 255, 0.35);
    border-radius: 8px;
    box-shadow: 1px 1px 25px 4px rgba(255, 255, 255, 0.6);
    display: block;
}

.rssHeading {
    margin-top: 5px;
    padding-top: 1px;
    font-size: 16px;
    background-color: #7B4B47;
    color: #E7CDC0;
    text-indent: 10px;
    word-wrap: break-word;
    display: block;

}

.rssLink {
    display: block;
    font-size: 10px;
    padding-bottom: 2px;
    border-top: 1px solid #7B4B47;
    border-bottom: 1px solid #7B4B47;
    text-decoration: none;
    text-indent: 10px;
    word-wrap: break-word;
}

.rssMessage {
    display: block;
    font-size: 12px;
    margin: 10px;
    word-wrap: break-word;
}

.rssIntervalSetting, .rssFeedSetting, .labbyIntervalSetting, .labbyNumberSetting{
    position: absolute;
    width: 100%;
    height: calc(100% - 71px);
    background-color: #99ADC3;
    top: 47px;
    border-left: 2px solid rgba(31, 58, 88, 0.95);
    border-right: 2px solid rgba(31, 58, 88, 0.95);
    display: none;
}

.rssSelect, .labbySelect {
    padding: 2px;
    margin: 20px;
    display: block;
}

.menuBody {
    display: block;
    padding: 0;
    margin-top: 2px;
}

.rssForm, .labbyForm {
    display: block;
    padding: 20px;
}

.menuItemTop {
    display: inline-block;
    max-width: 150px;
    padding-left: 20px;
    line-height: 1.1;
    padding-top: 1px;
    z-index: 1000000;
    position:absolute;
}


.menuItemMiddle:hover, .menuItemBottom:hover {
    background-color: rgba(31, 58, 88, 0.95);
    color: white;
}

.menuItemMiddle, .menuItemBottom {
    display: none;
    /* ändras av javascript till display: inline-block vid mouseenter */
    border-left: 2px solid rgba(31, 58, 88, 0.95);
    border-right: 2px solid rgba(31, 58, 88, 0.95);
    background-color: #99ADC3;
    min-height: 20px;
    min-width: 170px;
    padding-left: 0;
    padding-top: 3px;
    vertical-align: 2px;
    text-indent: 2px;
    margin-left: -10px;
}

.menuItemBottom {
    border-bottom: 2px solid rgba(31, 58, 88, 0.95);
}

.menuHead {
    display: inline-block;
    list-style: none;
    position: absolute;
    padding-left: 0;
    max-width: 340px;
    min-width: 340px;
}

.rssRadioLabel, .labbyRadioLabel {
    display: block;
    /*width: calc(100% - 100px);*/
    /*border: 1px solid black;*/
    line-height: 1.5;
}

.memoryBoard {
    display: block;
    width: 100%;
    overflow: hidden;
}
td a {
    display: block;
    border: solid cornflowerblue 2px;
    border-radius: 22%;
    width: 100%;
    background-color: #7B4B47;
    text-align: center;
    margin:0;
}
tbody {
    display: block;
    width: 100%;
}
tr {
    display: block;
    width: 100%;
    text-align: center;
}

td {
    display: inline-block;
    width: 18%; /*ändras med javascript beroende på antal bilder som visas*/
    margin: 2px 4px;
}

table img {
    width: 100%;
}
td a:hover, td a:focus {
    outline: 0;
    border: solid crimson 2px;
}

td a:active {
    position: relative;
    top: 1px;
    left: 1px;
}

.messageSection {
    clear: both;
}

.messageHeader {
    width: 80px;
    height: 70px;
    vertical-align: text-bottom;
}

.messageSection:nth-of-type(odd) .messageHeader {
    float: right;
}

.messageSection:nth-of-type(even) .messageHeader {
    float: left;

}
.messageBody {
    display: block;
    background-color: rgba(255, 255, 255, 0.80);
}

.messageText {
    padding: 3px;
    font-size: 13px;
    word-wrap: break-word;
}

.messageAuthor {
    display: block;
    position: relative;
    background-image: url('../images/user128.png');
    background-size: 50px 50px;
    background-repeat: no-repeat;
    background-position:center;
    width: 90px;
    min-height: 50px;
    max-height: 100px;
    vertical-align: text-bottom;
    word-wrap: break-word;

}

.messageAuthorName {
    position: absolute;
    top: 48px;
    font-size: 11px;
    color: #2B7DA2;
    width: 100%;
}

.messageSection:nth-of-type(odd) .messageAuthor{
    float: right;
}

.messageSection:nth-of-type(even) .messageAuthor{
    float: left;
}

.messageDateTime {
    font-size: 11px;
}

.messageSection:nth-of-type(odd) .messageDateTime {
    text-align: left;
    padding-left: 10px;
}

.messageSection:nth-of-type(even) .messageDateTime {
    text-align: right;
    padding-right: 10px;
}

.input {
    width: 100%;
    border-left: 2px solid rgba(200, 50, 50, 0.6);
    border-right: 2px solid rgba(200, 50, 50, 0.6);

}
textarea {
    position: relative;
    height: 40px;
    width: calc(100% - 109px);
    display: inline-block;
    background-color: #D4DBE3;
    margin: 0;
    padding: 5px 15px 5px 15px;
    resize: none;
    color: black;
    font-weight: bold;
    vertical-align: top;
    border: 0;
    font-size: 11px;

}

textarea:hover, textarea:focus, textarea:active {
    background-color: rgba(255, 255, 255, 0.90);
}

.send {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #1f3258), color-stop(1, #5874AC) );
    background:-moz-linear-gradient( center top, #f6b33d 5%, #d29105 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6b33d', endColorstr='#d29105');
    text-indent:0;
    border: none;
    display:inline-block;
    color:#ffffff;
    font-family: Arial sans-serif;
    font-size:15px;
    font-weight:bold;
    font-style:normal;
    line-height:47px;
    text-decoration:none;
    text-align:center;
    text-shadow:1px 1px 0 black;
    padding: 0;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;

    position: relative;
    height: 50px;
    width: 79px;
    /*box-shadow: 3px 2px 10px;
    z-index: 1;*/
    /*margin-left: -4px;*/
}

.send:hover, .send:focus {
    outline: 0;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #5874AC), color-stop(1, #1f3258) );
    background:-moz-linear-gradient( center top, #5874AC 5%, #1f3258 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1f3258', endColorstr='#5874AC');
    background-color:#d29105;
    border: none;
}

.send:active {
    position:relative;
    line-height:48px;
}

textarea:focus {
    outline: 0;
}


/*pratbubblorna i grunden skapade med http://html-generator.weebly.com/css-speech-bubble-generator.html*/
/*sedan har jag tweakat utifrån det*/
.messageSection:nth-of-type(odd) .messageBody
{
    position: relative;
    width: calc(100% - 100px);
    min-height: 55px;
    padding: 0;
    background: rgba(255, 255, 255, 0.80);
    border: #7B4B47 solid 2px;
    border-radius: 10px;
    float: left;
}

.messageSection:nth-of-type(odd) .messageBody:after
{
    content: "";
    position: absolute;
    top: 25px;
    right: -18px;
    border-style: solid;
    border-width: 11px 0 11px 19px;
    border-color: transparent rgba(255, 255, 255, 0.90);
    display: block;
    width: 0;
}

.messageSection:nth-of-type(odd) .messageBody:before
{
    content: "";
    position: absolute;
    top: 24.5px;
    right: -21px;
    border-style: solid;
    border-width: 12px 0 12px 20px;
    border-color: transparent #7B4B47;
    display: block;
    width: 0;
}

.messageSection:nth-of-type(even) .messageBody
{
    position: relative;
    /*width: 250px;*/
    width: calc(100% - 100px);
    min-height: 55px;
    padding: 0px;
    background: rgba(255, 255, 255, 0.80);
    border: #7B4B47 solid 2px;
    border-radius: 10px;
    float: right;
}

.messageSection:nth-of-type(even) .messageBody:after
{
    content: "";
    position: absolute;
    top: 25px;
    left: -18px;
    border-style: solid;
    border-width: 11px 19px 11px 0;
    border-color: transparent rgba(255, 255, 255, 0.90);
    display: block;
    width: 0;
}

.messageSection:nth-of-type(even) .messageBody:before
{
    content: "";
    position: absolute;
    top: 24.5px;
    left: -21px;
    border-style: solid;
    border-width: 12px 20px 12px 0;
    border-color: transparent #7B4B47;
    display: block;
    width: 0;
}