@charset "utf-8";

#content {
    width: 100%;
}
fieldset {
    display: block;
    width: 500px;
    border : 5px double mediumblue;
    padding: 25px 10px 15px 10px;
    border-radius: 10px;
    background-color: #D2E0E6;
}
legend {
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 1em;
    font-weight: bold;
    color: mediumblue;
    border : 5px double mediumblue;
    border-radius: 10px;
    background-color: white;
    margin: auto;
}

label {
    float: left;
    clear: both;
    font-family: Arial, sans-serif;
    padding-left: 10px;
    padding-right: 5px;
    width: 100px;
}

input, select {
    float: left;
    font-family: "Lucida Console", Monaco, monospace;
    margin-left: 5px;
    outline: 1px solid lightblue;
}

.errorText {
    float: left;
    color: red;
}

select {
    margin-bottom: 15px;
}

button#submit {
    clear: both;
    display: block;
    margin: auto;
    width: 80px;
    height: 30px;
}

.validated {
    border: 2px solid blue;
    outline: 0;
}

#fullDim {
    display: none;
    position: absolute;
    z-index: 100;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
}

#popup {
    position: relative;
    border: 1px solid pink;
    width: 30%;
    margin-left: -15%;
    left: 50%;
    top: 130px;
    background: white;
}
